
.image {
	display: inline-block;
	float: right;
	padding: 1em 2em 0 2em;
}
.column {
	display: inline-block;
	float: left;
	width: 50%;
	padding: 0 0 0 5em;
}
.main_text, p {
	clear: both;
	margin-left: 5em;
	padding: 1em 0 0 0;


}

.skills {
	color: #DarkGreen;
	padding: 0 0 0 2em;
	font-size: 1.2em;
}
.intro {
	margin: 1.5em 0 1.5em 20%;
}

ul.socia-new {
	list-style: none;
	margin-left: 10%;
	width: auto;
	display: inline-block;
	font-size: 2em;
}

